@import url(./bulma.css);

* {
  box-shadow: none !important;
}

html {
  overflow-y: hidden;
}

body {
  height: 100vh;
}

.box {
  height: 100%;
}

.box #folder-details {
  max-height: 216px;
  overflow-y: auto;
}
